.row
  .col-md-10.col-md-offset-1
    = form_tag addresses_path(method: :post) do
      - empty_addresses.each do |address|
        .row
          .col-md-12
            %h4.text-center
              = "#{address.address_type.humanize} Address"
            - if address.address_type == 'permanent'
              .checkbox.text-center
                = label_tag 'same_address' do
                  = check_box_tag 'same_address'
                  Same as Present Address
            %table.table.borderless{ id: "#{address.address_type}-address-fields" }
              = fields_for 'addresses[]', address, include_id: false do |f|
                = f.hidden_field :address_type, value: address.address_type
                %tr
                  %td.thirty-three
                    .form-group
                      = f.label 'Village/ House/ Road'
                      = f.text_field :village_house_road, class: 'form-control', required: true
                  %td.one
                  %td.thirty-three
                    .form-group
                      = f.label :post_office
                      = f.text_field :post_office, class: 'form-control', required: true
                  %td.one
                  %td.thirty-three
                    .form-group
                      = f.label :postal_code
                      = f.text_field :postal_code, class: 'form-control', required: true
                %tr
                  %td.thirty-three
                    .form-group
                      = f.label :union
                      = f.text_field :union, class: 'form-control', required: true
                  %td.one
                  %td.thirty-three
                    .form-group
                      = f.label :district
                      = f.text_field :district, class: 'form-control', required: true
                  %td.one
                  %td.thirty-three
                    .form-group
                      = f.label :division
                      = f.text_field :division, class: 'form-control', required: true

      = link_to '<< Update Personal Info', edit_student_path(@student), class: 'btn btn-primary pull-left'
      = submit_tag 'Save & Continue >>', class: 'btn btn-primary pull-right'
